html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #0d0a16;
}
.page {
    min-height: 100%;
    margin-bottom: -120px;
}



/*NAVBAR*/
.navbar-font {
    font-size: 1.2em;
    color: white;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

/*//////////////////////////*/
/*//////////////////////////*/

/*BANNER*/
.banner {
    height: 600px;
    width: 100%;
    background: url("public/mtuci.jpg") no-repeat center;
}

.banner-text {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.7em;
    padding-top: 14vh;
    margin-left: 1vw;
}

.banner-text-text {
    margin-top: 1vh;
}
.banner-text-text a{
    text-decoration: none;
    color: white;
}
.banner-text-text a:hover{
    text-decoration: underline;
}


.banner-img {
    width: 100%;
}

/*//////////////////////////*/
/*//////////////////////////*/

/*BACKGROUND*/

@media screen and (max-width: 980px) {
    .slider-section {
        background: url("public/mobilka.jpg") no-repeat center;
        background-size: auto auto;
    }
}

.slider-section {
    background: url("public/gl.png") no-repeat center;
    background-size: 1920px auto;
    color: white;
    height: 500px;
    margin-bottom: 3vh;
}

.slider-div {
    margin-top: 3vh;
    padding-top: 5vh;
}

@media screen and (max-width: 980px) {
    .banner-text {
        padding-top: 6vh;
    }
}

.groups-icon-vk {
    margin-top: 2vh;
}

/*//////////////////////////*/
/*//////////////////////////*/


/*MAIN*/
.img-main {
    width: 100%;
}


.mainPhoto {
    height: 90vh;
    width: 100%;
}
/*//////////////////////////*/
/*//////////////////////////*/

/*ABOUT*/
.about-rso-section {
    height: 500px;
    width: 100%;
    margin-top: 1vh;
}

.about-rso-div {
    padding-top: 2vh;
    color: white;
}

.about-row {
    margin-right: 20vw;
}

.about-img {
    height: 75%;
}

@media screen and (min-width: 400px) and (max-width: 980px) {
    .about-row {
        margin-right: 1vw;
    }
    .about-rso-section {
        margin-bottom: 2vh;
    }
}

@media screen and (min-width: 980px) and (max-width: 1400px){
    .about-row {
        margin-right: 0vw;
    }
}

@media screen and (min-width: 14000px) {
    .about-row {
        margin-right: 13vw;
    }
}
/*//////////////////////////*/
/*//////////////////////////*/


/*GROUPS*/

.groups-main-div {
    margin: 0 auto;
    max-width: 65vw;
}

.puti {
    background: no-repeat center url("public/WayFull4.svg");
    background-size: cover;
    border-radius: 21px;
    height: 90vh;
}


.kontact {
    background: no-repeat center url("public/contactFull4.svg");
    background-size: cover;
    border-radius: 21px;
    height: 110vh;
}

.bam {
    background: no-repeat center url("public/BamFul4.svg");
    background-size: cover;
    border-radius: 21px;
    height: 110vh;
}

.svyaz {
    background: no-repeat center url("public/SvFull4.svg");
    background-size: cover;
    border-radius: 21px;
    height: 90vh;
}


.prymougolnik {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.1em;
    margin-right: 3vh;
    margin-bottom: 4vh;
    overflow: hidden;
}


.groups {
    color: white;
    margin-top: 2.6vh;
}

.groups-logo-img {
    width: 200px;
    height: 200px;
}


.groups-header {
    margin-top: 2vh;
}


.groups-icon-vk img{
    width: 25px;
    height: 25px;
}


@media screen and (min-width: 400px) and (max-width: 980px) {
    .groups-main-div {
        max-width: 85vw;
        font-size: 1.2em;
    }
    .svyaz {
        max-height: 50vh;
        /*max-height: 120vw;*/
    }
    .puti {
        max-height: 50vh;
    }
    .kontact {
        max-height: 50vh;
    }
    .bam {
        max-height: 50vh;
    }
}

/*//////////////////////////*/
/*//////////////////////////*/

/*FOOTER*/
.footer {
    padding: 1.8vh;
    height: 12vh;
    color: white;
    margin-top: auto;
    background: rgb(37, 27, 78);
    background: linear-gradient(351deg, rgba(37, 27, 78, 1) 0%, rgba(23, 16, 37, 1) 100%);
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer-element {
    margin-top: 25px;
    margin-left: 25px;
}
/*//////////////////////////*/
/*//////////////////////////*/